<div class="card" style="max-width: 400px; margin-left: 5%;">
    <div class="card-body">
        <p>
            <b>Single-spa</b> is a top level router. When a route is active, it downloads and executes the code for that route.
        </p>
        <p>
            The code for a route is called an "application", and each can (optionally) be in its own git repository, have its own CI process, and be separately deployed. The applications can all be written in the same framework, or they can be implemented in different
            frameworks.
        </p>
    </div>
</div>