<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="">
            <img src="https://victoryepes.blogs.upv.es/files/2020/09/Chapman-Taylor-Modular-Construction-LR1.jpg" class="img-fluid rounded-start" alt="welcome image">
        </div>
        <div class="">
            <div class="card-body">
                <h5 class="card-title">¡Bienvenido!</h5>
                <p class="card-text">Esta es una muestra de una aplicación web basada en <b>micro front-end.</b></p>
                <p class="card-text">Instala el plugin para montar o desmontar los módulos.</p>
                <a class="card-text">https://chrome.google.com/webstore/detail/single-spa-inspector/emldbibkihanfiaiaghebffnbahjcgcp</a>
                <p class="card-text"><small class="text-muted">Last updated 01/12/2022</small></p>
            </div>
        </div>
    </div>
</div>